@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #E5E7EB;
    background-image: url("images/Background_image.svg");
    background-color: #121826;
    margin: 7% 5%;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.heading p {
    margin-bottom: 2rem;
}

.heading p, .details p {
    color: #9DA3AE;
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hand {
    background-color: #FCEED8;
}

.goal {
    background-color: #DEE9FC;
}

.bubble {
    background-color: #FBE5E6;
}

.details {
    width: 315px;
    background-color: #212936;
    padding: 22.5px;
    border-radius: 15px;
}

.details h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.details p {
    margin-bottom: 0.75rem;
}

.details img {
    width: 16.875rem;
    height: auto;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

@media screen and (max-width: 720px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}